# Project data/output you don't want in git
database/*
!database/get_data.sh
sessionoutput/
output/
yasin
requirements_disabled.txt
keys.env

# Python caches / artifacts
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class
.env

# nextflow
.nextflow.log*
work/
.nextflow/